.App > .navbar {
  display: flex;
  flex-direction: row;
  background-color: #1b262c;
  color: #bbe1fa;
  margin: 0px;
  padding: 0rem 11%;
  justify-content: space-between;
  align-items: center;
}

.navbar > h1 {
  margin:0.5rem;
}
@media (max-width: 600px){
  
}






