.Dashboard {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    background-color: #222f36;
}

.Window {
    margin: 1rem;
    border: solid;
    border-radius: 0.5rem;
    border-color: #537e9b; 
    overflow: hidden;
    background-color: rgb(30, 41, 46);
}

.Controls {
    margin: 1rem;
    border: solid;
    padding: 1rem;
    color: #bbe1fa;
    border-color: #537e9b;
    border-radius:1rem
}

@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {

    .Window {
        margin: 1rem;
        border: solid;
        border-radius: 0.5rem;
        border-color: #537e9b; 
        overflow: hidden;
        background-color: rgb(30, 41, 46);
        height: 600px;
    }
}

